DATABASE_URL="postgresql://postgres:postgrespw@localhost:5432/dentacare?schema=public"
PORT=4000
JWT_SECRET=replace_with_strong_secret

DATABASE_URL="postgresql://postgres:admin@localhost:5432/dentacare?schema=public"
PORT=4000
JWT_SECRET=CEg9KjC1HY0qDAwyHLYZurdwE1PiL54E
